

/*
    1- common Styles
    2- General Styles
    3- Sections
        3.0 Header Section
        3.1 Home Section
        3.2 About Section
        3.3 Portfolio Section
        3.4 Service Section
        3.5 Prices Section
        3.6 Team Section
        3.7 Blog page
        3.8 Contact Section
        3.9 Footer Section
*/

/* 1.common styles */
/*
    - container
    - overlay
    - opacity hover
    - section header
    - section padding
    - hover effect 1 ( left to right)
    - hover effect 2 ( top to bottom)
*/

.marg-lr-5{
    margin:0 5%;
}
.overlay{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:rgba(0,0,0,0.7);
} 

.hover-opacity{
    transition:opacity 0.5s;
}
.hover-opacity:hover{
    opacity:0.8;
}

.padding-y{
    padding:120px 0;
}

.section-header{
    margin-bottom:20px;
    text-align:center;
}
.section-header .section-title{
    font-size:35px;
    text-transform: capitalize;
    margin-bottom:10px;

}
.section-header .line{
    display:block;
    height:5px;
    width:60px;
    margin:0 auto 70px auto;
    background-color:#6195ff;
}


.ltr-effect , .ttb-effect{
    position:relative;
}
.ltr-effect::after, .ttb-effect::after{
    position:absolute;
    content:"";
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:#333;
    z-index:-1;
    
}
.ltr-effect::after{
    width:0;
    transition:width 0.5s;
}
.ttb-effect::after{
    height:0;
    transition:height 0.5s;
}
.ltr-effect:hover::after{
    width:100%;
}
.ttb-effect:hover::after{
    height:100%;
}

/* 2.General Styles */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Varela Round', sans-serif;
}
.container{
    width:80%;
    margin:auto;
}
.clear{
    clear:both;
}
h1, h2, h3, h4, h5, h6 {
    font-family:montserrat,sans-serif;
}
button{
    font-family:inherit;
}
/* 3 Sections 

/* 3.0 Header */

.header{
    position:fixed;
    width:100%;
    z-index:10;
}
.header .logo{
    width:40%;
    float:left;
}
.header .logo img{
    width:20%;
    margin-top:15px;
}
.header .nav{
    width:60%;
    float:left;
    list-style:none;
    text-align:right;
}
.header .nav > li{
    display:inline-block;
    text-align:right;
}
.header .nav > li > a{
    color:white;
    text-decoration:none;
    display:block;
    padding:30px 20px;
}
.header .nav > li > a::after {
    content:"";
    display:block;
    height:3px;
    width:0;
    background-color:#6195ff;
    transition: width 0.5s;
    margin-top:2px;
}
.header .nav > li > a.active:after{
    width:100%;
}
.header .nav >  li > a:hover::after{
    width:100%;
}
.dropdown{
    position:relative;
}
.dropdown-menu {
    list-style:none;
    position:absolute;
    background-color:#6195ff;
    width:150px;
    left:-50%;
    top:70%;
    text-align:center;
    opacity:0;
    visibility:hidden;
    transition: opacity 0.5s, visibility 0.5s;
}
.dropdown-menu a{
    color:white;
    display:block;
    padding:10px;
    text-decoration:none;
}
.dropdown:hover .dropdown-menu{
    opacity:1;
    visibility:visible;
}
/* 3.1 Home */

.home{
    height:100vh;
    background-image:url(../images/background/background1.webp);
    background-size:cover;
    position:relative;
}
.home-content{
    width:60%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}
.home .title{
    color:#fff;
    font-size: 3.5rem;
    text-transform:uppercase;
}
.home .home-desc{
    margin: 20px 0;
    color:#fff;
    letter-spacing:2px;
    line-height:1.5;
}
.home .btn{
    min-width:160px;
    padding:15px 0;
    border-radius:5px;
    border:none;
    cursor:pointer;
    font-size:18px;
}
.home .btn-start{
    margin-right:10px;
    background:#fff;
}
.home .btn-learn{
    background:#6195ff;
    color:#fff;
}

/*  3.2 About */



.about-item{
    width:30%;
    float:left;
    text-align:center;
    border:1px solid #e8e8e8;
    padding: 50px 30px;
}

.about-item .icon{
    color:#6195ff;
    margin-bottom:10px;
}
.about-item-title{
    text-transform:capitalize;
    margin-bottom:10px;
    transition:color 0.5s;
}
.about-item-desc{
    padding:0px 35px;
    line-height:1.6;
    margin-bottom:10px;
    opacity:0.5;
}
.about-item-link{
    color:#6195ff;
    text-transform:capitalize; 
}

.about-item:hover .about-item-title{
    color:white;
}

/* 3.3 Portfolio  */


.portfolio{
    background-color:#f9f9f9;
}
.portfolio-item{
    width:30%;
    float:left;
    position:relative;
    padding:20px;
}
.portfolio-item img{
    width:100%;
}
.portfolio-item-layer{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    opacity:0;
    visibility:hidden;
    transition:opacity 0.5s,visibility 0.5s;
}

.portfolio-item:hover .portfolio-item-layer{
    opacity:1;
    visibility:visible;
}

.portfolio-item-layer-middle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

.portfolio-item-layer .category{
    color:#6195ff;
    text-transform:uppercase;
    display:block;
    margin-bottom:5px;
    position:relative;
    top:10px;
    transition:top 0.5s;
}

.portfolio-item-layer .layer-title{
    font-size:20px;
    color:#fff;
    margin-bottom:10px;
    position:relative;
    top:10px;
    transition:top 0.5s;
    transition-delay:0.1s;
}

.portfolio-item-layer a{
    position:relative;
    top:10px;
    transition:top 0.5s;
    transition-delay:0.2s;
}
.portfolio-item-layer a i{
    line-height:40px;
    display:inline-block;
    width:40px;
    height:40px;
    background:#6195ff;
    color:#fff;
}
.portfolio-item:hover .category,
.portfolio-item:hover .layer-title,
.portfolio-item:hover a{
    top:0;
}

/* section offer */

.offer-item{
    width:30%;
    float:left;
    border:1px solid #f9f9f9;
    margin-bottom:20px;
    padding:30px 15px 30px 70px;
    position:relative;
}
.offer-item .icon{
    position:absolute;
    top:35px;
    left:15px;
    color:#6195ff;
}
.offer-item-title{
    margin-bottom:20px;
    text-transform:capitalize;
    transition:color 0.5s;

}
.offer-item-desc{
    line-height:1.6;
    color:#a8a8a8;
    margin:0 60px 30px 0;
}
.offer-item:hover .offer-item-title{
    color:white;
}

/* Section Serviices*/

.services{
    background-color:#f9f9f9;
}
.services-item{
    width:50%;
    float:left;
}
.services-item .section-header{
    text-align:left;
}
.services-item .line{
    margin:0 0 40px 0;
}
.services-item-desc{
    padding-right:40px;
    color:#999;
    line-height:1.4;
    font-size:17px;
    margin:80px 0;
}
.services-item-list{
    margin-top:50px;
    list-style:none;
}
.services-item-list li{
    margin-bottom:10px;
    color:#999;
}
.services-item-list li i{
    border:1px solid #6195ff;
    color: #6195ff;
    border-radius:50%;
    width:30px;
    height:30px;
    line-height:30px;
    padding-left:5px;
}
.services-item-img img{
    width:100%;
}
.services-item-bollets{
    list-style:none;
    text-align:center;
}
.services-item-bollets li{
    display:inline-block;
    width:10px;
    height:10px;
    border-radius:50%;
    background:#a8a8a8;
    margin:10px 5px; 
}
.services-item-bollets li.active {
    background-color:#6195ff;
}
.services-item-bollets li:hover{
    background-color:#6195ff;
}


/* section numbers */

.numbers{
    background-image:url("../images/background/background2.webp");
    background-attachment:fixed;
    height:33vh;
    position:relative;
}
.numbers-item{
    width:25%;
    float:left;
    text-align:center;
}
.padding2-y{
    padding:100px 0;
}

.numbers-item .icon{
    color:#6195ff;
    margin-bottom:15px;
}
.numbers-item-title{
    font-weight:bold;
    font-size:30px;
    color:white;
    margin-bottom:15px;
}
.numbers-item-text{
    color:white;
}

/*  section prices */

.prices-item{
    width:30%;
    float:left;
    border:1px solid #6195ff;
    text-align:center;
    padding-top:30px;
}
.prices-item-title{
    color:#a8a8a8;
    text-transform:uppercase;
    transition:color 0.5s;
}
.prices-item-price{
    margin:50px auto;
    border:2px solid #6195ff;
    border-radius:50%;
    width:120px;
    height:120px;
    padding:20px 0;
    transition:color 0.5s;
}
.prices-item-price .dollar{
    font-size:50px;
}
.prices-item-price .month{
    text-transform:uppercase;
    font-weight:bold;
}
.prices-item-text{
    list-style:none;
    margin:50px 0;
}
.prices-item-text li{
    line-height:2;
    color:#999;
}
.prices-item-purchase {
    background:none;
    border:2px solid #6195ff;
    display:block;
    width:140px;
    padding:10px;
    margin:20px auto 50px auto;
    color:#6195ff;
    cursor:pointer;
}
.prices-item:hover .prices-item-title{
    color:#6195ff;
}
.prices-item:hover .prices-item-price{
    color:white;
}

/* testimonail */

.testimonail{
    height:40vh;
    background-image:url(../images/background/background3.webp);
    background-attachment:fixed;
    position:relative;
}
.container2{
    width:55%;
    margin:auto;
}
.testimonail-item{
    width:50%;
    float:left;
    padding:100px 50px 0 0;
    color:#fff;
}
.testimonail-item-title{
    padding:0 0 40px 100px;
    position:relative;
}
.testimonail-item-title img{
    position:absolute;
    top:0;
    left:0;
    border-radius:50%;
}
.testimonail-item-title h3{
    text-transform:capitalize;
    font-weight:bold;
    padding:10px 0;
    
}
.testimonail-item-title span{
    text-transform: uppercase;
    color:#6195ff;
}

/* Team section */

.team-item{
    width:30%;
    float:left;
    background:#e8e8e8;
    padding:40px 20px;
    text-align:center;
}
.team-item-img{
    width:90%;
    margin:auto;
    position:relative;
}
.team-item-img img{
    width:100%;
}
.team-item-img-overlay{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(0,0,0,0.5);
    opacity:0;
    visibility:hidden;
    transition:opacity 0.5s, visibility 0.5s;
}
.team-item-img-overlay a{
    display:block;
    width:40px;
    height:40px;
    background:#6195ff;
    color:#fff;
    margin-left:auto;
}
.team-item-img-overlay a i{
    line-height:40px;
}
.team-item-info-name{
    color:#222;
    margin:10px 0;
    transition:color 0.5s;
}
.team-item-info-job{
    color:#999;
    text-transform: uppercase;
    transition:color 0.5s;
}
.team-item:hover .team-item-img-overlay{
    opacity:1;
    visibility:visible;
}
.team-item:hover .team-item-info-name{
    color:#fff;
}
.team-item:hover .team-item-info-job{
    color:#6195ff;
}
.team-item.ttb-effect{
    z-index:1;
}

/* Blog section */

.blog{
    background:#f9f9f9;
}
.blog-item{
    width:30%;
    float:left;
    background:white;
}
.blog-item img{
    width:100%;
    height:250px;
}
.blog-item-info{
    padding:20px;
}
.blog-item-list{
    list-style:none;
}
.blog-item-list li{
    display:inline-block;
    margin-right:15px;
}
.blog-item-list li i{
    color:#6195ff;
}
.blog-item-title{
    margin:30px 0;
    font-size:30px;
}
.blog-item-desc{
    margin-bottom:30px;
    color:#999;
    line-height:1.6;
    font-size:20px;
}
.blog-item-link{
    text-decoration:none;
    color:#6195ff;
}

/* contact us section */

.contact-us{
    background:#f9f9f9;
}
.contact-us-container{
    width:55%;
    margin:auto;
    margin-bottom:50px;
}
.contact-us-item{
    width:20%;
    float:left;
    text-align:center;
}
.contact-us-item.marg{
    margin:0 20%;
}
.contact-us-item i{
    color:#6195ff;
}
.contact-us-item h3{
    margin:15px 0;
}
.container2{
    width:75%;
    margin:auto;
}
.contact-us-name-email .name, .contact-us-name-email .email{
    width:48%;
    float:left;
}
.contact-us-name-email .email{
    margin-left:4%;
}
.container2 .subject{
    width:100%;
    margin:20px 0;
}
.container2 .send-message{
    display:block;
    margin:25px auto;
    
}
.container2 input, .container2 textarea, .container2 button{
    border:0;
}
.container2 input, .container2 textarea{
    background:#e8e8e8;
    padding:10px;
}
.container2 input:focus, .container2 textarea:focus{
    border:1px solid #6195ff;
    border-bottom:2px solid #6195ff;
    outline:0;
}
.container2 .send-message{
    background:#6195ff;
    color:#fff;
    width:180px;
    height:50px;
    border-radius:2%;
    cursor:pointer;
    transition:opacity 0.5s;
}
.container2 .send-message:hover{
    opacity:0.8;
}

/* footer section */

.footer{
    background:#000;
    padding:30px 30%;
    text-align:center;
}
.footer-link{
    margin:40px 0;
}
.footer-link a{
    display:inline-block;
    width:40px;
    height:40px;
    background:#6195ff;
    color:white;
    border-radius:5%;
    margin-right:10px;
    text-align:center;
}
.footer-link a i{
    line-height:40px;
}
.footer .copyright{
    color:#a8a8a8;
    text-transform:uppercase;
}
.footer .copyright a{
    text-decoration:none;
    color:#6195ff;
}

